<ion-view title="Creditos" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="creditos-form3" class="list">
      <div class="item item-input-inset">
            <label class="item-input-wrapper" id="creditos-input4">
              <input type="text" placeholder="">
            </label>
            <button class="button button-small">Cargar</button>
      </div>
    </form>
    <button id="creditos-button14" class="button button-positive  button-block">QR</button>
  </ion-content>
</ion-view>