<ion-view title="Home" id="page1">
 <ion-floating-button ng-click="goToBatalla(null)" ui-sref="menu.batalla"></ion-floating-button>
  <ion-content padding="true" class="has-header">
    <div ng-repeat="info in infos" ng-if="!info.P2 && info.P1.split('-')[1] != userid" >
      <div class="list card" id="home-card21">
        <a class="cardClick" ng-click="goToBatalla(info)" ui-sref="menu.batalla">
          <ion-item class="item-avatar" id="home-list-item6">
            <h2>Creada por: {{info.P1.split('-')[0]}}</h2>
            <p>Monto a apostar: {{info.monto}} </p>
          </ion-item>
        </a>
      </div>
    </div>
   
   <!-- <button class="button button-positive  button-block " ng-click="goToBatalla(nueva)" ui-sref="menu.batalla">Crear Batalla</button>-->
  </ion-content>
</ion-view>