<ion-view hide-nav-bar="true">
  <ion-header-bar>
    <h1 >Logear</h1>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content ">
    <form ng-submit="Loguear()" >
      <div class="list login" >
        <label class="item item-input  inputLogin" >
          <span class="input-label ">Email</span>
          <input type="text" ng-model="loginData.email" class="">
        </label>

        <label class="item item-input  inputLogin" >
          <span class="input-label ">Password</span>
          <input type="password" ng-model="loginData.password" class="">
        </label>

        <label class="btnLogin" >
          <button class="button button-block" id="logear" type="submit">Logear</button>
        </label>
      </div>
    </form>
    <center><ion-spinner icon="android" class="invisible" id="spinner"></ion-spinner></center>
    <button id="login-button4" style="font-weight:600;color:#000000" class="button button-block button-positive button-clear" onclick="location.href='#/registro'">¿No tenes cuenta? Registrate</button>

  </ion-content>
</ion-view>
