<ion-view title="Perfil" id="page8">
  <ion-content padding="true" class="has-header">
    <h3>Batallas Creadas</h3>
     <div ng-repeat="info in infos" ng-if="info.P1.split('-')[1] == userid && info.turno!='Nadie'" >
        <div class="list card" id="home-card21">
          <a class="cardClick" ng-click="goToBatalla(info)" ui-sref="menu.batalla">
            <ion-item class="item-avatar" id="home-list-item6">
              <h2>Creada por: {{info.P1.split('-')[0]}}</h2>
              <h2>Aceptada por: {{(info.P2.split('-')[0]=='')?'Nadie':info.P2.split('-')[0]}}</h2>
              <p>Monto a apostar: {{info.monto}} </p>
              <p ng-if="info.turno=='J1'">Tu Turno</p>
              <p ng-if="info.turno=='J2' && info.P2!=''">Esperando a {{info.P2.split('-')[0]}} </p>
              <p ng-if="info.turno=='J2' && info.P2==''">No ha sido comenzada</p>
            </ion-item>
          </a>
        </div>
     </div>

     <h3>Batallas Comenzadas</h3>
      <div ng-repeat="info in infos" ng-if="info.P2.split('-')[1] == userid && info.turno!='Nadie'" >
        <div class="list card" id="home-card21">
          <a class="cardClick" ng-click="goToBatalla(info)" ui-sref="menu.batalla">
            <ion-item class="item-avatar" id="home-list-item6">
              <h2>Creada por: {{info.P1.split('-')[0]}}</h2>
              <h2>Aceptada por: {{info.P2.split('-')[0]}}</h2>
              <p>Monto a apostar: {{info.monto}} </p>
              <p ng-if="info.turno=='J2'">Tu Turno  </p>
              <p ng-if="info.turno=='J1'">Esperando a {{info.P1.split('-')[0]}} </p>
            </ion-item>
          </a>
        </div>
     </div>
     <h3>Batallas Terminadas</h3>
      <div ng-repeat="info in infos" ng-if="info.turno=='Nadie'" >
        <div class="list card" id="home-card21">
            <ion-item class="item-avatar" id="home-list-item6">
              <h2>Creada por: {{info.P1.split('-')[0]}}</h2>
              <h2>Aceptada por: {{info.P2.split('-')[0]}}</h2>
              <p>Monto apostado: {{info.monto}} </p>
              <p>Ganador: {{(info.acertoJ1 && info.acertoJ2)?'Nadie':((info.acertoJ1)?info.P1.split('-')[0]:info.P2.split('-')[0])}} </p>
            </ion-item>
        </div>
     </div>
  </ion-content>
</ion-view>