/* Empty. Add your own CSS if you like */
.casilla{
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  border: 1px solid #333;
}
.cSelected{
/* background: url("/img/casilla-selected.jpg")no-repeat;*/
 background: #000;
 color: #ffffff;

}
.cUnselected{
 /*background: url("/img/casilla-unselected.jpg")no-repeat;*/
 color: #000000;
 background: #fff;
}
.casillas{
  padding-bottom: 20px;
}